<style>
                    /* Общий стиль для всего сайта. */
                    body {
                        background: #f4f4f4;
                        font-family: 'Arial', sans-serif;
                        color: #333;
                        text-align: center;
                        font-size: 18px;
                        padding: 20px;
                    }

                    /* Стиль для контейнера с информацией. */
                    .info-container, .form_container, .table_container {
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-radius: 10px;
                        padding: 20px;
                        margin: 20px;
                        box-shadow: 0px 2px 16px rgb(0 0 0 / 10%);
                    }

                    /* Стили для ссылок */
                    a {
                        color: #3498db;
                        text-decoration: none;
                    }

                    a:hover {
                        color: #2980b9;
                    }

                    /* Стиль для заголовков внутри контейнера. */
                    .info-container h1, .info-container h2, .info-container h3 {
                        color: #2c3e50;
                    }

                    /* Стиль для абзацев внутри контейнера. */
                    .info-container p {
                        color: #777;
                        line-height: 1.6;
                    }

                    /* Стили для кнопок */
                    .btn {
                        display: inline-block;
                        background: #3498db;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 5px;
                        transition: opacity .3s;
                        text-decoration: none;
                    }

                    .btn:hover {
                        opacity: 0.7;
                    }

                    /* Стили для таблицы. */
                    table {
                        border-collapse: collapse;
                        margin: auto;
                        width: 80%;
                        border: 1px solid #ddd;
                    }

                    th, td {
                        text-align: left;
                        padding: 15px;
                        color: #333;
                    }

                    th {
                        background-color: #f4f4f4;
                        color: #333;
                    }

                    tr:nth-child(even) {
                        background-color: #fafafa;
                    }

                    tr:hover {
                        background-color: #f4f4f4;
                    }
        </style>